<div infinite-scroll='vm.reddit.nextPage()' infinite-scroll-disabled='vm.reddit.busy' infinite-scroll-distance='1'>
    <ul class="collection">
        <div ng-repeat="item in vm.reddit.items">
            <div ng-show="item.header">
                {{ item.day | relativeDate }}
            </div>
            <post post="item"></post>
        </div>
    </ul>
    <div ng-show='reddit.busy'>Loading data...</div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red modal-trigger"
        href="javascript:void(0)"
      ng-show="vm.isAuthenticated"
      ng-dialog="/static/templates/posts/new-post.html"
      ng-dialog-controller="NewPostController as vm">
      <i class="mdi-content-add"></i>
    </a>
</div>
