<div infinite-scroll='vm.reddit.nextPage()' infinite-scroll-disabled='vm.reddit.busy' infinite-scroll-distance='1'>
    <ul class="collection">
        <div ng-repeat="item in vm.reddit.items">
            <li class="collection-item">
            <time ng-show="item.header" class="posts--date" datetime="{{ item.day }}">
                <h4 class="posts--date--name">{{ item.day | relativeDate }}</h4>
                {{ item.day | date: 'M dd yyyy' }}
            </time>
            </li>
            <post post="item"></post>
        </div>
    </ul>
    <div ng-show='reddit.busy'>Loading data...</div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red modal-trigger"
        href="javascript:void(0)"
      ng-show="vm.isAuthenticated"
      ng-dialog="/static/templates/posts/new-post.html"
      ng-dialog-controller="NewPostController as vm">
      <i class="mdi-content-add"></i>
    </a>
</div>
