  <div class="row" ng-cloak>
    <div ng-repeat="column in vm.columns">
      <time class="posts--date" datetime="2015-03-20">
        <h4 class="posts--date--name">Tomorrow</h4>
        March 21st
      </time>
      <div class="col s12">
        <div ng-repeat="post in column">
          <ul class="collection">
            <post post="post"></post>
          </u>
        </div>
      </div>
    </div>

    <div ng-hide="vm.columns && vm.columns.length">
      <div class="col s12 no-posts-here">
        <em>The are no posts here.</em>
      </div>
    </div>
  </div>
