<nav class="white" role="navigation" ng-controller="NavbarController as vm">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo"><svg class="brand--logo" width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
  <title>Product Hunt logo</title>
  <path d="M20,40 C31.045695,40 40,31.045695 40,20 C40,8.954305 31.045695,0 20,0 C8.954305,0 0,8.954305 0,20 C0,31.045695 8.954305,40 20,40 Z" id="circle" fill="#DA552F" sketch:type="MSShapeGroup"></path>
  <path d="M15,12 L15,28 L18,28 L18,23 L22.54,23 C25.55548,22.92 28,20.47548 28,17.5 C28,14.44452 25.55548,12 22.54,12 L15,12 Z M22.5769231,19.9998611 L22.5769231,20 L18,20 L18,15.0001389 L22.5769231,15.0001389 L22.5769231,15 C23.9151346,15 25,16.1192745 25,17.4999306 C25,18.8805867 23.9151346,19.9998611 22.5769231,19.9998611" id="P" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
</svg></a><a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul class="right hide-on-med-and-down">
      {% if user.is_authenticated %}
        <li><a href="/+{{ user.username }}">+{{ user.username }}</a></li>
        <li><a href="/+{{ user.username }}/settings">Settings</a></li>
        <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
      {% else %}
        <li><a  href="javascript:void(0)"
                ng-dialog="../static/templates/authentication/login.html"
                ng-dialog-controller="LoginController as vm">Login</a></li>
        <li><a href="javascript:void(0)"
                ng-dialog="../static/templates/authentication/register.html"
                ng-dialog-controller="RegisterController as vm">Register</a></li>
      {% endif %}
    </ul>

    <ul id="nav-mobile" class="side-nav">
      {% if user.is_authenticated %}
        <li><a href="/+{{ user.username }}">+{{ user.username }}</a></li>
        <li><a href="/+{{ user.username }}/settings">Settings</a></li>
        <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
      {% else %}
        <li><a  href="javascript:void(0)"
                ng-dialog="../static/templates/authentication/login.html"
                ng-dialog-controller="LoginController as vm">Login</a></li>
        <li><a href="javascript:void(0)"
                ng-dialog="../static/templates/authentication/register.html"
                ng-dialog-controller="RegisterController as vm">Register</a></li>
      {% endif %}
    </ul>

  </div>
</nav>
