{% load staticfiles %}

<nav {% if request.path == '/' %}class="transparent"{% endif %} role="navigation" ng-controller="NavbarController as vm">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo"><img src="{% static 'images/logo-40.png' %}" /></a>
  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul class="right hide-on-med-and-down">
      {% if user.is_authenticated %}
        <li><a href="/+{{ user.username }}">+{{ user.username }}</a></li>
        <li><a href="/+{{ user.username }}/settings">Settings</a></li>
        <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
      {% else %}
        <li><a  href="javascript:void(0)"
                ng-dialog="../static/templates/authentication/login.html"
                ng-dialog-controller="LoginController as vm">Login</a></li>
        <li><a href="javascript:void(0)"
                ng-dialog="../static/templates/authentication/register.html"
                ng-dialog-controller="RegisterController as vm">Register</a></li>
      {% endif %}
    </ul>

    <ul id="nav-mobile" class="side-nav">
      {% if user.is_authenticated %}
        <li><a href="/+{{ user.username }}">+{{ user.username }}</a></li>
        <li><a href="/+{{ user.username }}/settings">Settings</a></li>
        <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
      {% else %}
        <li><a  href="javascript:void(0)"
                ng-dialog="../static/templates/authentication/login.html"
                ng-dialog-controller="LoginController as vm">Login</a></li>
        <li><a href="javascript:void(0)"
                ng-dialog="../static/templates/authentication/register.html"
                ng-dialog-controller="RegisterController as vm">Register</a></li>
      {% endif %}
    </ul>

  </div>
</nav>
