<div class="row">
  <form class="col s12" ng-submit="vm.login()">
    <h5>Login</h5>
    <div class="row">
      <div class="input-field col s12">
        <i class="mdi-content-mail prefix"></i>
        <input type="text" class="validate" id="login__email" ng-model="vm.email" />
        <label for="login__email">Email</label>
      </div>
      <div class="input-field col s12">
        <i class="mdi-action-lock prefix"></i>
        <input type="password" class="validate" id="login__password" ng-model="vm.password" />
        <label for="login__password">Password</label>
      </div>
    </div>
    <button type="submit"  class="waves-effect waves-green btn-flat modal-action modal-close">Login</button>
  </form>
</div>
