<div class="row">
  <form class="col s12" ng-submit="vm.register()">
    <h5>Register</h5>
    <div class="row">
      <div class="input-field col s12">
        <i class="mdi-content-mail prefix"></i>
        <input type="text" class="validate" id="register__email" ng-model="vm.email" />
        <label for="register__email">Email</label>
      </div>
      <div class="input-field col s12">
        <i class="mdi-action-account-box prefix"></i>
        <input type="text" class="validate" id="register__username" ng-model="vm.username" />
        <label for="register__username">Username</label>
      </div>
      <div class="input-field col s12">
        <i class="mdi-action-lock prefix"></i>
        <input type="password" class="validate" id="register__password" ng-model="vm.password" />
        <label for="register__password">Password</label>
      </div>
    </div>
    <button type="submit"  class="waves-effect waves-green btn-flat modal-action modal-close">Register</button>
  </form>
</div>
